<h1>BookIt</h1>

<br>
<p><b>Free textbook finder for all of your courses</b></p>

<br> 
<br>


<%= form_for :book, url: books_path do |f|%>
<% if @book.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@book.errors.count, "error") %> prohibited
        this article from being saved:
      </h2>
      <ul>
        <% @book.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<p>
    <%= f.text_field :isbnnumber, placeholder: "Enter ISBN Number"%>
    <%= f.submit "Search" %>
    
</p>    

<br>
<br>

<p >
    <%= link_to 'Recent Searches', books_path %>
    
</p>

<br>
<br>

<p>   
    <% if current_user %>
    Logged in as <%= current_user.name %>
    <%= link_to "Log Out", logout_path %>
    <% else %>
    <%= link_to "Sign Up", signup_path %> or
    <%= link_to "Log In", login_path %>
    <% end %> 
</p>

<style>
    body{
        background-image: url('https://content.thriveglobal.com/wp-content/uploads/2017/10/GettyImages-1059602932.jpg?w=1550');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }
</style>
<% end %> 
