<h1 align="center">BookIt</h1>
<p align = "center">Free textbook finder for all of your courses</p>


<%= form_for :book, url: books_path do |f|%>
<% if @book.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@book.errors.count, "error") %> prohibited
        this article from being saved:
      </h2>
      <ul>
        <% @book.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<p align = "center">
    <%= f.text_field :isbnnumber, placeholder: "Enter ISBN Number"%>
    <%= link_to 'Back', books_path %>
</p>    

<p align = "center" >
    <%= f.submit "Search" %>
</p>
<style>
    body{
        background-image: url('https://cdn.wallpapersafari.com/52/31/mQgWhS.jpg');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }
</style>
<% end %> 
